
@{
    ViewBag.Title = "Create Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="js-page-content" role="main" class="page-content">

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-edit'></i> Create Driver
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Driver <span class="fw-300"></span>
                    </h2>                    
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Please add your Driver from here...
                        </div>
                        <form id="form1" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Driver Name</label>
                                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter Driver Name">
                                    </div>                                    

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">contact Number</label>
                                        <input type="text" id="Contact" name="Contact" class="form-control" placeholder="contact Number">
                                    </div>

                                     <div class="form-group">
                                        <label class="form-label" for="simpleinput">Email Eddress</label>
                                        <input type="email" id="Email" name="Email" class="form-control" placeholder="Enter Email Address">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Facebook ID</label>
                                        <input type="text" id="Facebook" name="Facebook" class="form-control" placeholder="Enter facebook ID">
                                    </div>

                                      <div class="form-group">
                                                <label class="form-label" for="single-label">
                                                    Select License Type
                                                </label>
                                                <select class="select2 form-control" id="LicenseTypes" name="LicenseTypes">
                                                    
                                                        <option value="CA">California</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="WA">Washington</option>
                                                 
                                                </select>
                                            </div>

                                   <div class="form-group">
                                        <label class="form-label" for="simpleinput">License Expiry</label>
                                        <input type="date" id="LicenseExpiry" name="LicenseExpiry" class="form-control" placeholder="Enter License Expiry">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Nationality</label>
                                        <input type="text" id="Nationality" name="Nationality" class="form-control" placeholder="Enter Nationality">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Notes</label>
                                       <textarea class="form-control" id="Comments" name="Comments" placeholder="Notes"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                 <!--   <h3 class="py-5">Driving License</h3> -->

                                    <div class="row">

                                       <div class="col-md-6">

                                           <div class="row">
                                                 <div class="col-md-12">
                                                      <label class="form-label" style="margin-top:20px"><b>Driving License</b> Front side</label>
                                                 </div>
                                                 <div class="col-md-12">
                                                       <label class=newbtn>
	                                                    <img id="DrivingLicenseFrontPreview" class="blah" src="/assets/staticImages/icon1.png" >
	                                                   <input id="DrivingLicenseFront" name="DrivingLicenseFront" class='pic' onchange="readURL(this);" type="file" >
	                                                   </label>
                                                 </div>
                                            </div>  
                                        </div>

                                        <div class="col-md-6">
                                             <div class="row">
                                                 <div class="col-md-12">
                                                      <label class="form-label" style="margin-top:20px"><b>Driving License</b> Front side</label>
                                                 </div>
                                                 <div class="col-md-12">
                                                       <label class=newbtn>
	                                                    <img id="DrivingLicenseBackPreview" class="blah" src="/assets/staticImages/icon1.png" >
	                                                   <input id="DrivingLicenseBack" name="DrivingLicenseBack" class='pic' onchange="readURL(this);" type="file" >
	                                                   </label>
                                                 </div>
                                            </div>
                                        </div>

                                    </div>

                                   

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="row">
                                               <div class="col-md-12">
                                                      <label class="form-label" style="margin-top:20px"><b>UAE ID</b> Front side</label>
                                                 </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="IDUAECopyFrontPreview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="IDUAECopyFront" name="IDUAECopyFront" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                     <label class="form-label" style="margin-top:20px"><b>UAE ID</b> Back side</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="IDUAECopyBackPreview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="IDUAECopyBack" name="IDUAECopyBack" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>                                    
                                   

                                     <div class="row">

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="form-label" style="margin-top:20px"><b>Passport (Details page)</b> </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="PassportCopyPreview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="PassportCopy" name="PassportCopy" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                     <label class="form-label" style="margin-top:20px"><b>Passport (Details page)</b> Front </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="PassportBackPreview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="PassportBack" name="PassportBack" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    

                                    <div class="row">
                                         <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                     <label class="form-label" style="margin-top:20px"><b>Visa</b>  </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="VisaCopyPreview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="VisaCopy" name="VisaCopy" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
  
                                    </div>
                                   @* <input type="hidden" name="ClientDocs" id="ClientDocs" value="ClientDocs"/>  *@
                                    <input type="hidden" name="CompanyId" id="CompanyId" value="1057"/>  
                                    <input type="hidden" name="CreatedBy" id="CreatedBy" value="2099"/>  
                                    <div class="row py-5">

                                       
                                    </div>

                                </div>
                                 <div class="col-md-12">
                                           <button type="submit" id="Save"  class="btn btn-primary btn-lg btn-block waves-effect waves-themed">Driver

                                            <span>submit</span>
                                             </button>
                                        </div>

                               <div id="response"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



@section Scripts{
<script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>
<script>


    $(document).ready(function () {

        alert();
      
            $("#form1").submit(function () {
                var jqxhr = $.post('http://localhost:64299/api/Driver/Add', $('#form1').serialize())
                    .success(function (e) {
                        alert(e.data);
                    
                         })
                    .error(function (er) {
                        alert(er.data);
                    });
                return false;
            });
     


        $('#Save').click(function(){
     
        // show that something is loading
        $('#response').html("<b>Loading response...</b>");         
        /*
         * 'post_receiver.php' - where you will pass the form data
         * $(this).serialize() - to easily read form data
         * function(data){... - data contains the response from post_receiver.php
         */
            $.post('POST', 'http://localhost:64299/api/Driver/Add', $('#form1').serialize(), function(data){
             
            // show the response
            $('#response').html(data);
             
        }).fail(function(x) {
         
            // just in case posting your form failed
           alert('#response');
             
        });
 
        // to prevent refreshing the whole page page
        return false;
 
    });




       @*  $("#Save").click(function () {

            
                 var formData = new FormData();
                            formData.append('Name', $('#Name').val());
                            formData.append('Contact', $('#Contact').val());
                            formData.append('Email', $('#Email').val());
                            formData.append('Facebook', $('#Facebook').val());
                            formData.append('LicenseTypes', $('#LicenseTypes').val());
                            formData.append('LicenseExpiry', $('#LicenseExpiry').val());
                            formData.append('Nationality', $('#Nationality').val());
                            formData.append('Comments', $('#Comments').val());
                          
                            formData.append( 'ClientDocs', 'ClientDocs');
                            formData.append( 'CompanyId', 1);
                            formData.append( 'CreatedBy', 2 );
               
                
                            $.post("http://itmolen-001-site8.htempurl.com/api/Driver/Add", formData, function (msg) {
                            console.log(msg);
                });
        }) *@


                                    $("#IDUAECopyFront").change(function () {
                                    readURL(this,"IDUAECopyFrontPreview");
                                });


                                    $("#IDUAECopyBack").change(function () {
                                    readURL(this, "IDUAECopyBackPreview");
                                });


                                    $("#DrivingLicenseFront").change(function () {
                                    readURL(this, "DrivingLicenseFrontPreview");
                                });


                                    $("#DrivingLicenseBack").change(function () {
                                    readURL(this, "DrivingLicenseBackPreview");
                                });

                                    $("#PassportCopy").change(function () {
                                    readURL(this, "PassportCopyPreview");
                                });

                                    $("#PassportBack").change(function () {
                                    readURL(this, "PassportBackPreview");
                                });


                                    $("#VisaCopy").change(function () {
                                    readURL(this, "VisaCopyPreview");
                                });
        
    })




   

  

   @* function PostApiRequest() {
        $.post("http://itmolen-001-site8.htempurl.com/api/Driver/Add", $("#form1").serialize(), function (msg) {
            alert("success");
        });
    }*@


  

</script>
    }





<style>


.pic{
     display: none;
       }
       
 .newbtn{
         cursor: pointer;
      }
      .blah{
  max-width:100%;
  width:100%;
  height:auto;
  margin-top:20px;
}

</style>

