@model List<IT.Core.ViewModels.DriverViewModel>
@{
    ViewBag.Title = "Create Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Mena Energy</a></li>
                            
                            <li class="breadcrumb-item active">Drivers</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
                        </ol>
                      
                        <div class="row">
                            <div class="col-xl-12">
                                <div id="panel-1" class="panel">
                                    <div class="panel-hdr">
                                        <h2>
                                           <a href="/Driver/Create"> <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Driver</i></span>
                                        </h2></a>
                                       
                                    </div>
                                    <div class="panel-container show">
                                        <div class="panel-content">
                                    <!--      <div class="panel-tag">
                                                <p>Drivers Base Information</p>
                                               
                                               
                                            </div>-->  
                                            <!-- datatable start -->
                                            <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                                                <thead class="bg-primary-600">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Conatct</th>
                                                        <th>Office</th>
                                                        <th>Age</th>
                                                        <th>Start date</th>
                                                        <th>Salary</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   
                                                    <tr>
                                                        <td>Michael Bruce</td>
                                                        <td>Javascript Developer</td>
                                                        <td>Singapore</td>
                                                        <td>29</td>
                                                        <td>2011/06/27</td>
                                                        <td>$183,000</td>
                                                         <td>
                                                             <i class="fal fa-eye"></i> &nbsp; &nbsp;
                                                              <i class="fal fa-edit"></i>&nbsp; &nbsp;
                                                              <i class="fal fa-trash-alt">
                                                         </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Donna Snider</td>
                                                        <td>Customer Support</td>
                                                        <td>New York</td>
                                                        <td>27</td>
                                                        <td>2011/01/25</td>
                                                        <td>$112,000</td>
                                                        <td>
                                                             <i class="fal fa-eye"></i> &nbsp; &nbsp;
                                                              <i class="fal fa-edit"></i>&nbsp; &nbsp;
                                                              <i class="fal fa-trash-alt">
                                                         </td>
                                                    </tr>
                                                </tbody>
                                                
                                            </table>
                                            <!-- datatable end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                