
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
   
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Aw Fuel</a></li>
    <li class="breadcrumb-item active">Invoice</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a id="createNewInvice" class="text-primary" style="cursor:pointer">
                        <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Invoice</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">                   
                    <table id=" dt-basic-example" class="InvoiceTable table table-bordered table-hover table-striped w-100">
                        <thead  class="bg-primary-600">
                            <tr>
                                <th>Invoice #</th>
                                <th>Customer</th>
                                <th>Date Date</th>
                                <th>Due Date</th>
                                <th>Total</th>
                                <th>Vat </th>
                                <th>Grand Total</th>
                                <th>Oprater</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
      
    <script>

        $('#createNewInvice').click(function () {

            window.location.href = "/Invoice/Create";
        });

        $(document).ready(function () {
            BindDataTable();
        });


        var BindDataTable = function (response) {
            $('.InvoiceTable').DataTable({
                responsive: true,
                "bRetrieve": true,
                "bServerSide": true,
                "processing": true,
                "sAjaxSource": "/Invoice/GetAll",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    })
                },
                "aoColumns": [
                    { "mData": "PONumber" },
                    { "mData": "Name" },
                    { "mData": "FDate" },
                    { "mData": "DDate" },
                    { "mData": "Total" },
                    { "mData": "VAT" },
                    { "mData": "GrandTotal" },
                    { "mData": "UserName" },
                    {
                        "mData": "Id",
                        "render": function (Id, type, full, meta) {
                            return '<a href="#" onclick="EditInvoice(' + Id + ')"><i class="fal fa-edit"></i>Edit</a>' + ' | ' + '<a href="#" onclick="ViewInvoice(' + Id + ')"><i class="fal fa-eye"></i>Details</a> '+ ' | ' + '<a href="#" onclick="CreateBill(' + Id + ')">Invoice</a>'
                        }
                    },
                ]
            })
        }



        function EditInvoice(Id) {
            window.location.href = "/Invoice/Edit/" + Id;
        }


        function ViewInvoice(Id) {
            window.location.href = "/Invoice/Details/" + Id;
        }


    </script>

}

