
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="js-page-content" role="main" class="page-content">

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-edit'></i> Create Vehicle
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Vehicle <span class="fw-300"></span>
                    </h2>
                    
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Please add your vehicle from here...
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-6">


                                      <div class="form-group">
                                                <label class="form-label" for="single-label">
                                                    Select Vehiclle Type
                                                </label>
                                                <select class="select2 form-control" name="VehicleTypeName" id="VehicleTypeName">
                                                    
                                                        <option value="1">California</option>
                                                        <option value="2">Nevada</option>
                                                        <option value="3">Oregon</option>
                                                        <option value="4">Washington</option>
                                                 
                                                </select>
                                            </div>

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Trafic Plate Number</label>
                                        <input type="text" id="TraficPlateNumber" name="TraficPlateNumber" class="form-control" placeholder="Trafic Plate Number">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Tc Number</label>
                                        <input type="text" id="TCNumber" name="TCNumber" class="form-control" placeholder="Enter Tc Number">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Model</label>
                                        <input type="text" id="Model" name="Model" class="form-control" placeholder="Enter Model">
                                    </div>


                                   <div class="form-group">
                                        <label class="form-label" for="simpleinput">Brand</label>
                                        <input type="text" id="Brand" name="Brand" class="form-control" placeholder="Enter Brand">
                                    </div>


                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Color</label>
                                        <input type="text" id="Color" name="Color" class="form-control" placeholder="Enter Color">
                                    </div>



                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Mulkia Expiry</label>
                                        <input type="text" id="MulkiaExpiry" name="MulkiaExpiry" class="form-control" placeholder="Enter Mulkia Expiry">
                                    </div>


                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Insurance Expiry</label>
                                        <input type="text" id="InsuranceExpiry" name="InsuranceExpiry" class="form-control" placeholder="Enter Insurance Expiry">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Region</label>
                                        <input type="text" id="RegisteredRegion" name="RegisteredRegion" class="form-control" placeholder="Enter Region">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Notes</label>
                                       <textarea name="Comments" id="Comments" class="form-control"></textarea>
                                    </div>


                                </div>




                                <div class="col-md-6">
                                    <h3 class="py-5">Upload Mulkia 1</h3>

                                    <div class="row">

                                       <div class="col-md-6">

                                           <div class="row">
                                                 <div class="col-md-12">
                                                      <label class="form-label">Front side</label>
                                                 </div>
                                                 <div class="col-md-12">
                                                       <label class=newbtn>
	                                                    <img id="blah" src="/assets/staticImages/icon1.png" >
	                                                   <input id="MulkiaFront1" name="MulkiaFront1" class='pis' onchange="readURL(this);" type="file" >
	                                                   </label>
                                                 </div>
                                            </div>
  
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Front side</label>
                                            <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="MulkiaBack1" name="MulkiaBack1">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>

                                    </div>




                                    <h3 class="py-5">Upload Mulkia 2</h3>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <label class="form-label">Front side</label>
                                            <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="MulkiaFront2" name="MulkiaFront2">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="form-label">Back side</label>
                                            <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="MulkiaBack2" name="MulkiaBack2">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                        </div>

                                    </div>



                                    
                                 

                                    <div class="row py-5">

                                        <div class="col-md-12">
                                           <button type="button" class="btn btn-primary btn-lg btn-block waves-effect waves-themed">Submit
                                            <span>Vehicle</span>
                                             </button>
                                        </div>

                                       

                                    </div>
                                    
                                    

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script>
 
 $('.newbtn').bind("click" , function () {
        $('#MulkiaFront1').click();
 });
 
  function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
<style>


#MulkiaFront1{
     display: none;
       }
       
 .newbtn{
         cursor: pointer;
      }
      #blah{
  max-width:100%;
  height:auto;
  margin-top:20px;
}

</style>

