<div class="pull-right">
    <button class="btn btn-success" id="SaveDraft"><i class="glyphicon glyphicon-move"></i> Save as Draft</button>
    <button class="btn btn-info" id="SaveDownload"><i class="glyphicon glyphicon-save"></i> Save & Download</button>
    <button class="btn btn-warning" id="SaveEmail"><i class="glyphicon glyphicon-envelope"></i> Save & Email</button>
</div>
