@using System.Web.Mvc.Html

@model List<IT.Core.ViewModels.CustomerNoteOrderViewModel>

@{
    /**/

    /**/

    ViewBag.Title = "Customer Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<IT.Core.ViewModels.CustomerNoteOrderViewModel> customerNoteOrderViewModel = new List<IT.Core.ViewModels.CustomerNoteOrderViewModel>();
    customerNoteOrderViewModel = Model as List<IT.Core.ViewModels.CustomerNoteOrderViewModel>;

}
@*<label>Rukhsar</label>*@

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Mena Energy</a></li>

    <li class="breadcrumb-item active">Customer Order</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="row">
    <div class="col-xl-12">
    <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a href="/CustomerOrder/Create"> <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Order</i></span></a>
                </h2>

            </div>
     <div class="panel-container show">
     <div class="panel-content">

        
                  <div style="margin-bottom:100px">
                    <div class="tab-pane" id="tab-All" role="tabpanel" aria-labelledby="tab-All">
                        <ul class="nav nav-tabs nav-tabs-clean" id="tabs" role="tablist">
                           
                            <li class="nav-item created  bg-success col-md-2 col-6 text-white" style="width:120px" >
                                <form action="/CustomerOrder/Index" method="post">
                                    <input type="hidden" value="Order Created" name="OrderProgress" />
                                    <input type="submit" class="nav-link bg-transparent fs-lg fw-400"  value="Created Order" />
                                </form>
                            </li>

                            <li class="nav-item accepted  bg-warning col-md-2 col-6 text-white" style="width:120px">
                                <form action="/CustomerOrder/Index" method="post">
                                    <input type="hidden" value="Order Accepted" name="OrderProgress" />
                                    <input type="submit" class="nav-link bg-transparent fs-lg fw-400" value="Assign Order" />
                                </form>
                             </li>

                            <li class="nav-item accepted  bg-info col-md-2 col-6 text-white" style="width:120px">
                                <form action="/CustomerOrder/Index" method="post">
                                    <input type="hidden" value="Order Accepted" name="OrderProgress" />
                                    <input type="submit"  class="nav-link bg-transparent fs-lg fw-400" value="Accepted  Order" />
                                </form>
                             </li>

                            <li class="nav-item rejected bg-danger col-md-2 col-6 text-white" style="width:120px">
                                <form action="/CustomerOrder/Index" method="post">
                                    <input type="hidden" value="Order Rejected" name="OrderProgress" />
                                    <input type="submit" class="nav-link bg-transparent fs-lg fw-400" value="Rejected Order" />
                                </form>
                             </li>

                            <li class="nav-item running bg-secondary col-md-2 col-6 text-white" style="width:120px">
                                <form action="/CustomerOrder/Index" method="post">
                                    <input type="hidden" value="Order Running" name="OrderProgress" />
                                    <input type="submit" class="nav-link bg-transparent fs-lg fw-400" value="Running Order" />
                                </form>
                              </li>

                            <li class="nav-item delivered bg-dark col-md-2 col-6 text-white" style="width:120px">
                                <form action="/CustomerOrder/Index" method="post">
                                    <input type="hidden" value="Order Deliverd" name="OrderProgress" />
                                    <input type="submit" class="nav-link bg-transparent fs-lg fw-400" value="Delivered Order" />
                                </form>
                            </li>
                        </ul>
                    </div>
                 </div>

                        <div class="px-3 px-sm-5 pb-4">
                            <div class="tab-content">

                                <!-- All tab stated -->
                                <div class="tab-pane active" id="tab-created" role="tabpanel" aria-labelledby="tab-created">

                                    @Html.Partial("~/Views/Shared/PartialView/CustomerOrder/CustomerOrderList.cshtml")
                                </div>
                            </div>
                        </div>

                      <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {

            //alert();

            PostAjax('All');

            $('.created').click(function () {
                PostAjax('Order Created');
            })

            $('.accepted').click(function () {
                PostAjax('Order Accepted');
            })

            $('.rejected').click(function () {
                PostAjax('Order Rejected');
            })

            $('.running').click(function () {
                PostAjax('Order Running');
            })

            $('.delivered').click(function () {
                PostAjax('Order Delivered');
            })
        })

        

        function PostAjax(OrderStatus) {

            var data = {
                OrderProgress: OrderStatus
            }
            $.ajax({
                type: "POST",
                url: '/CustomerOrder/GetAll',
                data: data,
                dataType: 'json',
                success: function (result)
                {
                    console.log(result);
                },
                error: function (ex)
                {
                    console.log('error');
                }
               
            });
        }

    </script>
    }




















