@model List<IT.Core.ViewModels.CustomerNotificationViewModel>
@{
    ViewBag.Title = "CustomerNotification";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";


    List<IT.Core.ViewModels.CustomerNotificationViewModel> customerNotificationViewModels = new List<IT.Core.ViewModels.CustomerNotificationViewModel>();
    customerNotificationViewModels = Model as List<IT.Core.ViewModels.CustomerNotificationViewModel>;
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Aw Fuel</a></li>
    <li class="breadcrumb-item active">Product</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a href="/CustomerNotification/Create">
                        <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Advertisement</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!--      <div class="panel-tag">
                                <p>Drivers Base Information</p>
                            </div>-->
                    <!-- datatable start -->
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                               
                                <th>Title</th>
                                <th>Image URL</th>
                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in customerNotificationViewModels)
                            {
                                <tr>
                                    
                                    <td>@item.MessageTitle</td>
                                   
                                    <td>
                                  
                                    <img width="50px" src="http://itmolen-001-site8.htempurl.com/ClientDocument/@item.ImageUrl" onerror="this.src='/assets/staticImages/icon1.png';" alt="Missing Image"></td>
                                    <td>
                                        <a href="/CustomerNotification/Details/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                        <a href="/CustomerNotification/Edit/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;
                                        <i class="fal fa-trash-alt">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


