@{
    ViewBag.Title = "Direct Sale Create";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<main id="js-page-content" role="main" class="page-content">

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-edit'></i> Direct Sale Order
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Direct sale Order <span class="fw-300"></span>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Please Search Traffice plate number here .....
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Vehicle Plate Number:</label>
                                        <input type="text" id="PlateNumber" name="PlateNumber" class="form-control" placeholder="Traffic Plate Number Search here...">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="single-label">
                                            Existing in companies:
                                        </label>
                                        <ol id="OrderList">
                                            
                                        </ol>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="row py-5">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                                                Submit
                                                <span>Vehicle</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{


    <script>

        function SearchAllByPlateNumber(Number) {

            var Data = JSON.stringify({

                TraficPlateNumber: Number
            })
            ajaxRequest("POST", "/DirectSale/VehicleByTrafficPlateNumber/", Data, "json").then(function (result) {

                if (result != "failed") {
                    $('#OrderList').empty();
                    $.each(result, function (item, value) {
                        if (value.Id == 0)
                        {
                            $('#OrderList').append('<a href="/DirectSale/Create"><li class="btn btn-outline-primary" value="' + value.Id + '">' + value.Name + '</li></a>');
                        }
                        else {
                            $('#OrderList').append('<a href="/DirectSale/Details/' + value.VehicleId + '" ><li style="margin-top:2px" class="btn btn-outline-primary" value="' + value.Id + '">' + value.Name + '</li></a><br/>');
                        }
                    });
                }
            });
        }

        $(document).on('keyup', '#PlateNumber', function (e) {
            var Id = $(this).val();
            SearchAllByPlateNumber(Id);
        });
        
    </script>


}
