@{
    ViewBag.Title = "DirectSaleCreate";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<main id="js-page-content" role="main" class="page-content">

    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-edit'></i> Direct Sale Order
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Direct sale Order <span class="fw-300"></span>
                    </h2>
                    
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Please Search Traffice plate number here .....
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                      <div class="form-group">
                                                <label class="form-label" for="single-label">
                                                    Plate Number
                                                </label>
                                                <select class="select2 form-control" name="VehicleTypeName" id="VehiclePlateNumber">
                                                    
                                             
                                                </select>
                                            </div>
                                </div>




                                <div class="col-md-12">
                                   



                                    <div class="row py-5">
                                        <div class="col-md-12">
                                           <button type="button" class="btn btn-primary btn-lg btn-block waves-effect waves-themed">Submit
                                            <span>Vehicle</span>
                                             </button>
                                        </div>
                                    </div>
                                    
                                    

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{


    <script>

        $(document).ready(function () {
            $('.select2-container .select2-dropdown .select2-search .select2-search__field').keyup(function () {
                alert('helllo');
            var number = $(this).val();
            var Data = JSON.stringify({

                TraficPlateNumber: number

            })
            
            ajaxRequest("POST", "/DirectSale/VehicleByTrafficPlateNumber/", Data, "json").then(function (result) {

                if (result != "failed") {
                    $('#VehiclePlateNumber').empty();
                    $('#VehiclePlateNumber').append('<option value="' + 0 + '">' + "select Plate Number" + '</option>');
                    $.each(result, function (item, value) {
                        $('#VehiclePlateNumber').append('<option value="' + value.Id + '">' + value.Name + '</option>');
                    });
                }
            })

            })

        });

       



    </script>


}
